Repository z-shell/zw, pull requests merged in 2022-01, with the labels that each got.

#8 Frontmatter
  .devcontainer/devcontainer.json
  .editorconfig
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  babel.config.js
  docs/code_documentation.md
  docs/ecosystem/_category_.json
  docs/ecosystem/annexes/01_1_bin_gem_node.md
  docs/ecosystem/annexes/01_2_meta_plugins.md
  docs/ecosystem/annexes/01_3_patch-dl.md
  docs/ecosystem/annexes/01_4_rust.md
  docs/ecosystem/annexes/01_5_submods.md
  docs/ecosystem/annexes/01_6_unscope.md
  docs/ecosystem/annexes/01_7_readurl.md
  docs/ecosystem/annexes/01_8_default_ice.md
  docs/ecosystem/annexes/01_9_test.md
  docs/ecosystem/annexes/01_annexes.md
  docs/ecosystem/annexes/_category_.json
  docs/ecosystem/packages/01_packages.md
  docs/ecosystem/packages/_category_.json
  docs/ecosystem/plugins/02_modules.md
  docs/ecosystem/plugins/_category_.json
  docs/gallery/01_collection.md
  docs/gallery/02_ohmyzsh.md
  docs/gallery/03_distinctive.md
  docs/gallery/04_preferences.md
  docs/gallery/05_benchmarking.md
  docs/gallery/_category_.json
  docs/getting_started/01_installation.md
  docs/getting_started/02_overview.md
  docs/getting_started/03_usage.md
  docs/getting_started/04_migration.md
  docs/getting_started/_category_.json
  docs/guides/01_syntax.md
  docs/guides/02_ice.md
  docs/guides/03_ice_modifiers.md
  docs/guides/04_commands.md
  docs/guides/_category_.json
  docs/introduction.md
  docusaurus.config.js
  package.json
  sandbox.config.json
  src/components/APITable/index.tsx
  src/components/APITable/styles.module.css
  src/components/HomepageFeatures.module.css
  src/css/custom.css
  static/emoji_map.md
  tsconfig.json
Labels: enhancement ✨, maintenance 📈

#11 Workflows
  .github/CODEOWNERS
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-labels.yml
  .github/workflows/sync-labels.yml
Labels: ci :robot:

#21 Code Sandbox config
  .gitignore
  .prettierrc
  docusaurus.config.js
  package.json
  sandbox.config.json
  static/img/favicon.png
  static/img/logo.png
  static/img/z-shell_128x128.png
  static/img/z-shell_501x501.png
  static/img/zi-git.png
Labels: maintenance 📈

#30 translate into ja
  docusaurus.config.js
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#33 Update README.md
  .github/README.md
  .github/labeler.yml
  .github/workflows/pr-labels.yml
Labels: ci 🤖

#35 translating 02_overview into ja
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ja/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#34 Develop
  .github/ISSUE_TEMPLATE/01_request_documentation.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/README.md
  .github/comment-labels.yml
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-labels.yml
Labels: ci 🤖

#37 feat(ecosystem): Added startify and zconvey docs
  docs/ecosystem/plugins/01_zconvey.md
  docs/ecosystem/plugins/02_startify.md
  docs/ecosystem/plugins/20_modules.md
  docs/getting_started/01_installation.md
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/01_zconvey.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/02_startify.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/20_modules.md
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ja/docusaurus-theme-classic/navbar.json
Labels: plugin 🧿, i18n 🌐

#55 Update _redirects
  static/_redirects
Labels: maintenance 📈

#56 Update renovate.json
  .github/renovate.json
Labels: dependencies 📦, fix ⚡

#52 New Crowdin translations by Github Action
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs/current/code_documentation.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_2_meta_plugins.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_3_default_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_4_patch-dl.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_5_readurl.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_6_submods.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_7_unscope.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_8_rust.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_9_test.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_annexes_guide.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/packages/01_packages.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/01_zconvey.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/02_startify.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/20_modules.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_1_collection.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_2_programs.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_3_plugins.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_4_themes.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_5_snippets.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_6_completions.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_7_services.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_usage.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/04_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/01_syntax.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/03_ice_modifiers.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/05_customization.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/06_benchmark.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: i18n 🌐

#60 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
Labels: i18n 🌐

#61 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
Labels: i18n 🌐

#62 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#64 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#63 Update README.md
  .github/README.md
Labels: new-feature 🎉

#66 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#68 WIP
  docusaurus.config.js
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#69 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#71 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/01_1_bin_gem_node.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
Labels: i18n 🌐

#74 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/05_customization.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/06_benchmark.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/_category_.json
Labels: i18n 🌐

#77 Crowdin support
  blog/2022/01/27/contributing_guidelines_update.md
  docs/introduction.md
  docusaurus.config.js
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/footer.json
  src/components/APITable/styles.module.css
  src/components/HomepageFeatures.js
  src/css/custom.css
  src/css/include/footer.css
  src/css/include/logo/github.css
  static/_headers
Labels: new-feature 🎉, i18n 🌐

#75 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_7_services.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_usage.md
Labels: i18n 🌐

#78 New Crowdin updates
  blog/2022/01/27/contributing_guidelines_update.md
  docs/introduction.md
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/footer.json
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/2022/01/27/contributing_guidelines_update.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: i18n 🌐
