Repository z-shell/zw, pull requests merged in 2022-07, with the labels that each got.

#641 Update trunk-check.yml
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/trunk-check.yml
  .trunk/trunk.yaml
Labels: maintenance 📈, ci 🤖

#643 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/es/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/lt/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/zh-Hant/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
Labels: i18n 🌐

#656 Next/0607
  .eslintrc.yml
  .github/renovate.json
  .github/workflows/ci-perf.yml
  .stylelintrc
  .stylelintrc.yml
  docusaurus.config.js
  functions/_worker.ts
  package.json
  pnpm-lock.yaml
  src/components/AsciinemaPlayer/index.tsx
  src/components/HomeFeatures/index.tsx
  src/css/custom.css
  src/pages/index.module.css
  src/pages/index.tsx
  tsconfig.json
Labels: dependencies 📦, enhancement ✨, maintenance 📈, ci 🤖

#658 [fix]: jsx-props-no-spreading
  .eslintrc.yml
  docusaurus.config.js
  package.json
  pnpm-lock.yaml
  src/components/HomeFeatures/index.tsx
  src/pages/index.tsx
Labels: dependencies 📦, enhancement ✨, maintenance 📈

#664 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-blog/options.json
  i18n/fr/docusaurus-plugin-content-docs-community/current.json
  i18n/fr/docusaurus-plugin-content-docs-community/current/01_intro.md
  i18n/fr/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/fr/docusaurus-plugin-content-docs/current.json
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/guides/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/_category_.json
  i18n/fr/docusaurus-plugin-content-docs/current/zi_code.md
  i18n/fr/docusaurus-theme-classic/footer.json
  i18n/fr/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#669 fix(youtube-dl #655)
  community/gallery/collection/01_3_programs.md
Labels: documentation 📝

#670 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#672 make homepage headings translatable
  .trunk/bin/trunk
  i18n/en/code.json
  package.json
  pnpm-lock.yaml
  src/css/custom.css
  src/pages/index.module.css
  src/pages/index.tsx
Labels: dependencies 📦, enhancement ✨, i18n 🌐

#675 Add CTA on homepage
  src/pages/index.module.css
  src/pages/index.tsx
Labels: enhancement ✨

#677 Same color footer and navbar
  src/components/HomeFeatures/index.tsx
  src/css/custom.css
Labels: enhancement ✨

#680 i18n 🌐: Add french language to issue template
  .github/ISSUE_TEMPLATE/01_request_documentation.yml
Labels: maintenance 📈

#678 Add bun-sh
  community/gallery/collection/01_2_completions.md
Labels: documentation 📝

#682 New Crowdin translations by Github Action
  i18n/de/code.json
  i18n/de/docusaurus-plugin-content-docs-community/current.json
  i18n/de/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/de/docusaurus-plugin-content-docs/current.json
  i18n/de/docusaurus-theme-classic/footer.json
  i18n/es/code.json
  i18n/es/docusaurus-plugin-content-blog/options.json
  i18n/es/docusaurus-plugin-content-docs-community/current.json
  i18n/es/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/es/docusaurus-plugin-content-docs/current.json
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/es/docusaurus-plugin-content-docs/current/guides/_category_.json
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/_category_.json
  i18n/es/docusaurus-theme-classic/footer.json
  i18n/es/docusaurus-theme-classic/navbar.json
  i18n/fr/code.json
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs-community/current.json
  i18n/ja/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ja/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/guides/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/_category_.json
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ja/docusaurus-theme-classic/navbar.json
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-docs-community/current.json
  i18n/ko/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/ko/docusaurus-plugin-content-docs/current.json
  i18n/ko/docusaurus-theme-classic/footer.json
  i18n/pl/code.json
  i18n/pl/docusaurus-plugin-content-docs-community/current.json
  i18n/pl/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/pl/docusaurus-plugin-content-docs/current.json
  i18n/pl/docusaurus-theme-classic/footer.json
  i18n/ru/code.json
  i18n/ru/docusaurus-plugin-content-docs-community/current.json
  i18n/ru/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/ru/docusaurus-plugin-content-docs/current.json
  i18n/ru/docusaurus-theme-classic/footer.json
  i18n/zh-Hans/code.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-ecosystem/current.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/_category_.json
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
  i18n/zh-Hans/docusaurus-theme-classic/navbar.json
  i18n/zh-Hant/code.json
  i18n/zh-Hant/docusaurus-theme-classic/footer.json
  i18n/zh-Hant/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#685 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/fr/code.json
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/03_benchmark.md
Labels: i18n 🌐

#688 New Crowdin translations by Github Action
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#693 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
Labels: i18n 🌐

#694 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/lt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#696 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/01_commands.md
Labels: i18n 🌐

#697 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/01_commands.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/01_commands.md
Labels: i18n 🌐

#701 [fix]: broken links #679
  .editorconfig
  .markdownlint.yaml
  .prettierrc
  babel.config.js
  community/01_intro.md
  community/02_zsh_plugin_standard.md
  community/03_zsh_native_scripting_handbook.md
  docs/getting_started/01_installation.md
  docs/guides/syntax/03_ice.md
  docs/zi_code.md
  docusaurus.config.js
  ecosystem/annexes/1_bin_gem_node.md
  ecosystem/intro.md
  ecosystem/packages/01_overview.md
  pnpm-lock.yaml
  sidebars.js
  src/components/APITable/index.tsx
  src/components/AsciinemaPlayer/index.tsx
  src/components/HomeFeatures/index.tsx
  src/pages/index.tsx
Labels: dependencies 📦, enhancement ✨, maintenance 📈, package 📦, documentation 📝, annex 🌀

#704 typo sharkdp Update 01_3_programs.md
  community/gallery/collection/01_3_programs.md
Labels: documentation 📝
