Repository z-shell/zw, pull requests merged in 2022-05, with the labels that each got.

#414 Correcting the PNPM's title
  docs/gallery/collection/01_3_programs.md
Labels: documentation 📝, fix ⚡

#422 [Fix]: Issues 418-419
  .deepsource.toml
  .hadolint.yaml
  .prettierignore
  .shellcheckrc
  .trunk/.markdownlint.yaml
  .trunk/trunk.yaml
  babel.config.js
  docusaurus.config.js
  src/components/FeaturesList/index.tsx
  src/pages/index.tsx
  tsconfig.json
Labels: maintenance 📈, fix ⚡

#428 Update renovate.json
  .github/renovate.json
Labels: maintenance 📈

#452 Ecosystem/plugins
  ecosystem/plugins/01_plugin_modules.md
  ecosystem/plugins/comand_architect.md
  ecosystem/plugins/console.md
  ecosystem/plugins/f-sy-h.md
  ecosystem/plugins/zbrowse.md
  ecosystem/plugins/zconvey.md
  ecosystem/plugins/zprompts.md
  ecosystem/plugins/zsh_editing_wb.md
  ecosystem/plugins/zsh_nav_tools.md
  ecosystem/plugins/zsh_select.md
  ecosystem/plugins/zsh_startify.md
  ecosystem/plugins/zsh_unique_id.md
  ecosystem/plugins/zui.md
  ecosystem/plugins/zzcomplete.md
Labels: plugin 🧿

#456 Update 05_customization.md
  .github/workflows/ci-perf.yml
  docs/guides/05_customization.md
  ecosystem/annexes/01_1_bin_gem_node.md
  src/components/AsciinemaPlayer/index.tsx
  src/components/HomepageFeatures/index.tsx
Labels: enhancement ✨, annex 💠, ci 🤖, documentation 📝

#458 Docusaurus monorepo
  ecosystem/annexes/01_1_bin_gem_node.md
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, annex 💠, documentation 📝

#462 lint, split
  src/components/AsciinemaPlayer/index.tsx
  src/components/HomeFeatures/index.tsx
  src/components/HomeFeatures/styles.module.css
  src/components/HomeHeader/index.tsx
  src/components/HomeHeader/styles.module.css
  src/pages/index.tsx
Labels: enhancement ✨, documentation 📝

#472 disable gtag
  docusaurus.config.js
Labels: maintenance 📈, documentation 📝

#485 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/intro.md
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/fr/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/lt/docusaurus-plugin-content-docs/current/intro.md
  i18n/pl/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: documentation 📝, i18n 🌐

#493 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: documentation 📝, i18n 🌐

#503 re-order
  src/components/AsciinemaPlayer/index.tsx
  src/components/HomeFeatures/index.tsx
  src/components/HomeHeader/index.tsx
  src/pages/index.tsx
Labels: enhancement ✨, documentation 📝

#507 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/es/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/fr/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ja/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ko/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/lt/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/pl/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/ru/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hant/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
Labels: documentation 📝, i18n 🌐

#512 Add OMZ plugins that need special ice parameters
  docs/getting_started/03_migration.md
Labels: documentation 📝

#514 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
Labels: documentation 📝, i18n 🌐

#513 Update 03_ice.md
  docs/gallery/collection/01_4_snippets.md
  docs/guides/syntax/03_ice.md
Labels: documentation 📝

#511 Add a part about Oh My ZSH themes libraries
  docs/getting_started/03_migration.md
Labels: documentation 📝

#516 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
Labels: documentation 📝, i18n 🌐

#517 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: documentation 📝, i18n 🌐

#521 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: documentation 📝, i18n 🌐

#523 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/04_commands.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/04_commands.md
Labels: documentation 📝, i18n 🌐

#524 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/syntax/01_common.md
Labels: documentation 📝, i18n 🌐

#527 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: documentation 📝, i18n 🌐

#530 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
Labels: documentation 📝, i18n 🌐

#532 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
Labels: documentation 📝, i18n 🌐

#534 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/es/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/fr/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ko/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/lt/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/pl/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/ru/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/guides/syntax/03_ice.md
Labels: documentation 📝, i18n 🌐
