Repository z-shell/zw, pull requests merged in 2022-02, with the labels that each got.

#79 New Crowdin updates
  blog/2022/01/27/contributing_guidelines_update.md
  docs/introduction.md
  i18n/en/code.json
  i18n/en/docusaurus-theme-classic/footer.json
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/2022/01/27/contributing_guidelines_update.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: i18n 🌐

#81 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/2022/01/27/contributing_guidelines_update.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: i18n 🌐

#83 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_ice.md
Labels: i18n 🌐

#84 Update staging
  .github/workflows/codeql.yml
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_ice.md
Labels: i18n 🌐

#87 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/code_documentation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/01_syntax.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: i18n 🌐

#91 Update renovate.json
  .github/renovate.json
Labels: dependencies 📦

#90 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: i18n 🌐

#96 Update package.json
  package.json
Labels: ci 🤖

#98 Patch 3
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/lighthouse.yml
  crowdin.yml
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
Labels: i18n 🌐

#94 Signed-off-by: Salvydas Lukosius <sall@w-ss.io>
  .github/README.md
  .github/TRANLSATIONS.md
  .github/workflows/ci-perf.yml
  .github/workflows/deploy-gh-pages.yml
  .github/workflows/lighthouse.yml
  .github/workflows/lighthouserc.json
  .prettierrc
  blog/2022/01/15/swiss_army_knife_for_zsh.md
  blog/2022/01/27/contributor_guidelines.md
  docs/introduction.md
  docusaurus.config.js
  package.json
  src/css/custom.css
  static/manifest.json
  yarn.lock
Labels: performance 🚀

#99 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-blog/2022/01/15/swiss_army_knife_for_zsh.md
  i18n/ja/docusaurus-plugin-content-blog/2022/01/27/contributor_guidelines.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
Labels: i18n 🌐

#100 dev: maintencance
  .github/docs/NOTES.md
  .github/docs/TRANLSATIONS.md
  .github/docs/cf/build_config.md
  .github/docs/cf/functions.md
  docusaurus.config.js
  package.json
  src/css/custom.css
  src/pages/index.js
  src/pages/index.module.css
  static/img/favicon.png
  static/img/logo.png
  static/img/logo/zi/png/c1.png
  static/img/logo/zi/png/c2.png
  static/img/logo/zi/png/c3.png
  static/img/logo/zi/png/ice-239x200.png
  static/manifest.json
  yarn.lock
Labels: performance 🚀

#103 dev: minor
  .gitattributes
  .github/labels.yml
  docs/code_documentation.md
  docs/getting_started/01_installation.md
  docs/introduction.md
  docusaurus.config.js
  package.json
  src/components/ColorGenerator/index.tsx
  src/components/ColorGenerator/styles.module.css
  src/components/HomepageFeatures.js
  src/pages/index.js
  static/_headers
  static/manifest.json
Labels: dependencies 📦, maintenance 📈, documentation 📝, good first issue

#109 Frontmatter img fix
  .github/workflows/lighthouserc.json
  docs/ecosystem/annexes/01_1_bin_gem_node.md
  docs/ecosystem/annexes/01_annexes_guide.md
  docs/ecosystem/packages/01_packages.md
  docs/ecosystem/plugins/19_zui.md
  docs/ecosystem/plugins/20_modules.md
  docs/ecosystem/plugins/21_startify.md
  docs/ecosystem/plugins/22_zconvey.md
  docs/gallery/collection/01_1_collection.md
  docs/getting_started/01_installation.md
  docs/getting_started/02_overview.md
  docs/getting_started/03_usage.md
  docs/getting_started/04_migration.md
  docs/guides/01_syntax.md
  docs/guides/02_ice.md
  docs/guides/04_commands.md
  docs/guides/05_customization.md
  docs/guides/06_benchmark.md
  docs/introduction.md
  docusaurus.config.js
Labels: maintenance 📈, annex 💠, plugin 🧿, documentation 📝

#112 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/code_documentation.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/23_comand_architect.md
Labels: plugin 🧿, documentation 📝, i18n 🌐

#114 Update 20_modules.md
  docs/ecosystem/plugins/20_modules.md
Labels: plugin 🧿, documentation 📝

#115 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/19_zui.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/22_zconvey.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/25_zbrowse.md
Labels: plugin 🧿, documentation 📝, i18n 🌐

#120 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_2_programs.md
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/01_4_themes.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/02_ice.md
  i18n/ja/docusaurus-plugin-content-docs/current/guides/04_commands.md
Labels: documentation 📝, i18n 🌐

#123 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/100_zprompts.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/25_zbrowse.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/26_zsh_nav_tools.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/27_zsh_select.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/28_zsh_unique_id.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/29_zsh_editing_wb.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: plugin 🧿, documentation 📝, i18n 🌐

#125 Lighthouse ci update
  .github/lighthouse/budget.json
  .github/lighthouse/lighthouserc.json
  .github/workflows/lighthouse.yml
Labels: ci 🤖

#129 Docs update
  .devcontainer/devcontainer.json
  .github/docs/NOTES.md
  .github/docs/cf/functions.md
  .prettierrc
  babel.config.js
  blog/2022/01/27/contributor_guidelines.md
  docs/ecosystem/packages/01_overview.md
  docs/ecosystem/packages/02_packages.md
  docs/ecosystem/plugins/30_zzcomplete.md
  docs/gallery/collection/01_1_collection.md
  docs/introduction.md
  docusaurus.config.js
  sidebars_1.js
  sidebars_2.js
  src/components/APITable/index.tsx
  src/components/BrowserWindow/styles.module.css
  src/components/HomepageFeatures/HomepageFeatures.js
  src/css/custom.css
  src/css/include/logo/github.css
  src/pages/index.js
  static/img/assets/asciinema/293365.png
  yarn.lock
Labels: dependencies 📦, enhancement ✨, maintenance 📈, plugin 🧿, documentation 📝

#130 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-blog/2022/01/27/contributor_guidelines.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/packages/01_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/packages/02_packages.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/30_zzcomplete.md
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: plugin 🧿, package 📦, documentation 📝, i18n 🌐

#132 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/annexes/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/packages/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/gallery/collection/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/guides/_category_.json
Labels: documentation 📝, i18n 🌐

#135 Update crowdin.yml
  .github/workflows/ci-perf.yml
  .github/workflows/crowdin.yml
Labels: ci 🤖

#147 New Crowdin updates
  i18n/ja/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#148 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs-community/current.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/code_documentation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-blog/options.json
  i18n/ko/docusaurus-plugin-content-docs-community/current.json
  i18n/ko/docusaurus-plugin-content-docs/current.json
  i18n/ko/docusaurus-plugin-content-docs/current/code_documentation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ko/docusaurus-theme-classic/footer.json
  i18n/ko/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#151 New Crowdin updates
  docs/guides/01_syntax.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: documentation 📝, i18n 🌐

#152 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs-community/current.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/code_documentation.md
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ja/docusaurus-theme-classic/navbar.json
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-blog/options.json
  i18n/ko/docusaurus-plugin-content-docs-community/current.json
  i18n/ko/docusaurus-plugin-content-docs/current.json
  i18n/ko/docusaurus-plugin-content-docs/current/code_documentation.md
  i18n/ko/docusaurus-theme-classic/footer.json
  i18n/ko/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#156 New Crowdin updates
  i18n/ja/code.json
Labels: i18n 🌐

#157 New Crowdin updates
  i18n/ja/code.json
  i18n/ko/code.json
Labels: i18n 🌐

#159 New Crowdin updates
  i18n/ja/code.json
Labels: i18n 🌐

#160 New Crowdin updates
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs-community/current.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
Labels: i18n 🌐

#164 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ko/docusaurus-plugin-content-docs/current/introduction.md
Labels: i18n 🌐

#165 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/27_zsh_select.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/28_zsh_unique_id.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/29_zsh_editing_wb.md
  i18n/ja/docusaurus-plugin-content-docs/current/ecosystem/plugins/30_zzcomplete.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/current/ecosystem/plugins/27_zsh_select.md
  i18n/ko/docusaurus-plugin-content-docs/current/ecosystem/plugins/28_zsh_unique_id.md
  i18n/ko/docusaurus-plugin-content-docs/current/ecosystem/plugins/29_zsh_editing_wb.md
  i18n/ko/docusaurus-plugin-content-docs/current/ecosystem/plugins/30_zzcomplete.md
Labels: plugin 🧿, i18n 🌐

#166 New Crowdin updates
  i18n/ja/code.json
Labels: i18n 🌐

#167 New Crowdin updates
  i18n/ja/code.json
Labels: i18n 🌐

#169 New Crowdin updates
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-docs-community/current.json
  i18n/ko/docusaurus-plugin-content-docs/current.json
Labels: i18n 🌐

#171 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current/introduction.md
  i18n/ko/docusaurus-plugin-content-docs/current/introduction.md
Labels: i18n 🌐

#178 perf(workspace): 🔧 Fix performance & integration issues
  .all-contributorsrc
  .github/README.md
  .github/lighthouse/budget.json
  .github/workflows/lighthouse.yml
  .vscode/settings.json
  community/intro.md
  community/zsh_native_scripting_handbook.adoc
  community/zsh_plugin_standart.adoc
  community/zsh_plugin_standart.md
  crowdin.yml
  docs/getting_started/01_installation.md
  docusaurus.config.js
  i18n/en/code.json
  i18n/en/docusaurus-plugin-content-docs/current.json
  i18n/en/docusaurus-theme-classic/footer.json
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-theme-classic/footer.json
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-docs/current.json
  i18n/ko/docusaurus-theme-classic/footer.json
  package.json
  pnpm-lock.yaml
  static/CNAME
  static/_redirects
Labels: dependencies 📦, maintenance 📈, ci 🤖, documentation 📝, i18n 🌐

#191 crowdin
  crowdin.yml
Labels: maintenance 📈

#192 audit fix
  docusaurus.config.js
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/css/custom.css
  static/zw/manifest.json
Labels: dependencies 📦, maintenance 📈

#195 New Crowdin updates
  .github/workflows/lighthouse.yml
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-theme-classic/footer.json
Labels: ci 🤖, i18n 🌐

#201 prepare strict rules
  .github/ISSUE_TEMPLATE/01_request_documentation.yml
  .github/README.md
  .github/workflows/lock.yml
  .github/workflows/pr-labels.yml
  .github/workflows/purge_cache.yml
  .github/workflows/stale.yml
  .markdownlint.json
  .prettierignore
  .prettierrc
  .vscode/settings.json
  blog/2022/01/15/swiss_army_knife_for_zsh.md
  community/intro.md
  community/zsh_native_scripting_handbook.adoc
  community/zsh_native_scripting_handbook.md
  community/zsh_plugin_standard.md
  docs/ecosystem/annexes/01_0_annexes_guide.md
  docs/ecosystem/annexes/01_1_bin_gem_node.md
  docs/ecosystem/annexes/01_2_meta_plugins.md
  docs/ecosystem/annexes/01_3_default_ice.md
  docs/ecosystem/annexes/01_4_patch-dl.md
  docs/ecosystem/annexes/01_5_readurl.md
  docs/ecosystem/annexes/01_6_submods.md
  docs/ecosystem/annexes/01_7_unscope.md
  docs/ecosystem/annexes/01_8_rust.md
  docs/ecosystem/annexes/01_9_test.md
  docs/ecosystem/packages/01_overview.md
  docs/ecosystem/packages/02_packages.md
  docs/ecosystem/plugins/01_zsh_editing_wb.md
  docs/ecosystem/plugins/02_comand_architect.md
  docs/ecosystem/plugins/03_zsh_nav_tools.md
  docs/ecosystem/plugins/04_zsh_unique_id.md
  docs/ecosystem/plugins/06_startify.md
  docs/ecosystem/plugins/07_zprompts.md
  docs/ecosystem/plugins/08_console.md
  docs/ecosystem/plugins/09_zbrowse.md
  docs/ecosystem/plugins/10_zconvey.md
  docs/ecosystem/plugins/11_select.md
  docs/ecosystem/plugins/200_zui.md
  docs/ecosystem/plugins/20_modules.md
  docs/gallery/collection/01_1_collection.md
  docs/gallery/collection/01_3_programs.md
  docs/gallery/collection/01_6_plugins.md
  docs/getting_started/01_installation.md
  docs/getting_started/02_overview.md
  docs/getting_started/03_migration.md
  docs/guides/01_syntax.md
  docs/guides/02_ice.md
  docs/guides/03_ice_modifiers.md
  docs/guides/04_commands.md
  docs/guides/05_customization.md
  docs/guides/06_benchmark.md
  docs/intro.md
  docs/zi_code.md
  drafts/notes.md
  drafts/zsh_native_handbook-history.md
  drafts/zsh_plugin_standart-history.md
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, enhancement ✨, maintenance 📈, annex 💠, plugin 🧿, ci 🤖

#204 New Crowdin updates
  i18n/de/code.json
Labels: i18n 🌐

#206 Devauto
  crowdin.yml
  docusaurus.config.js
  i18n/es/code.json
  i18n/es/docusaurus-plugin-content-blog/options.json
  i18n/es/docusaurus-plugin-content-docs-community/current.json
  i18n/es/docusaurus-plugin-content-docs/current.json
  i18n/es/docusaurus-theme-classic/footer.json
  i18n/es/docusaurus-theme-classic/navbar.json
  i18n/no/code.json
  i18n/no/docusaurus-plugin-content-blog/options.json
  i18n/no/docusaurus-plugin-content-docs-community/current.json
  i18n/no/docusaurus-plugin-content-docs/current.json
  i18n/no/docusaurus-theme-classic/footer.json
  i18n/no/docusaurus-theme-classic/navbar.json
  i18n/pl/code.json
  i18n/pl/docusaurus-plugin-content-blog/options.json
  i18n/pl/docusaurus-plugin-content-docs-community/current.json
  i18n/pl/docusaurus-plugin-content-docs/current.json
  i18n/pl/docusaurus-theme-classic/footer.json
  i18n/pl/docusaurus-theme-classic/navbar.json
  i18n/pt-BR/code.json
  i18n/pt-BR/docusaurus-plugin-content-blog/options.json
  i18n/pt-BR/docusaurus-plugin-content-docs-community/current.json
  i18n/pt-BR/docusaurus-plugin-content-docs/current.json
  i18n/pt-BR/docusaurus-theme-classic/footer.json
  i18n/pt-BR/docusaurus-theme-classic/navbar.json
  i18n/tr/code.json
  i18n/tr/docusaurus-plugin-content-blog/options.json
  i18n/tr/docusaurus-plugin-content-docs-community/current.json
  i18n/tr/docusaurus-plugin-content-docs/current.json
  i18n/tr/docusaurus-theme-classic/footer.json
  i18n/tr/docusaurus-theme-classic/navbar.json
  i18n/uk/code.json
  i18n/uk/docusaurus-plugin-content-blog/options.json
  i18n/uk/docusaurus-plugin-content-docs-community/current.json
  i18n/uk/docusaurus-plugin-content-docs/current.json
  i18n/uk/docusaurus-theme-classic/footer.json
  i18n/uk/docusaurus-theme-classic/navbar.json
  i18n/zh-CN/code.json
  i18n/zh-CN/docusaurus-plugin-content-blog/options.json
  i18n/zh-CN/docusaurus-plugin-content-docs-community/current.json
  i18n/zh-CN/docusaurus-plugin-content-docs/current.json
  i18n/zh-CN/docusaurus-theme-classic/footer.json
  i18n/zh-CN/docusaurus-theme-classic/navbar.json
  i18n/zh-TW/code.json
  i18n/zh-TW/docusaurus-plugin-content-blog/options.json
  i18n/zh-TW/docusaurus-plugin-content-docs-community/current.json
  i18n/zh-TW/docusaurus-plugin-content-docs/current.json
  i18n/zh-TW/docusaurus-theme-classic/footer.json
  i18n/zh-TW/docusaurus-theme-classic/navbar.json
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈, ci 🤖, i18n 🌐

#213 issue-207-fix
  src/css/custom.css
Labels: fix ⚡
