Repository z-shell/zw, pull requests merged in 2022-03, with the labels that each got.

#215 - permalink
  CONTRIBUTORS.md
  docusaurus.config.js
  netlify.toml
  package.json
  pnpm-lock.yaml
Labels: dependencies 📦, maintenance 📈

#221 New Crowdin translations by Github Action
  i18n/de/code.json
  i18n/de/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/de/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/de/docusaurus-plugin-content-docs/intro.md
  i18n/de/docusaurus-plugin-content-docs/zi_code.md
  i18n/es/code.json
  i18n/es/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/es/docusaurus-plugin-content-docs/intro.md
  i18n/es/docusaurus-plugin-content-docs/zi_code.md
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/intro.md
  i18n/ja/docusaurus-plugin-content-docs/zi_code.md
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/intro.md
  i18n/ko/docusaurus-plugin-content-docs/zi_code.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/lt/docusaurus-plugin-content-docs/intro.md
  i18n/lt/docusaurus-plugin-content-docs/zi_code.md
  i18n/ru/code.json
  i18n/ru/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ru/docusaurus-plugin-content-docs/intro.md
  i18n/ru/docusaurus-plugin-content-docs/zi_code.md
  i18n/tr/code.json
  i18n/tr/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/tr/docusaurus-plugin-content-docs/intro.md
  i18n/tr/docusaurus-plugin-content-docs/zi_code.md
  i18n/zh-Hans/code.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/zi_code.md
  i18n/zh-Hant/code.json
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/zi_code.md
Labels: i18n 🌐

#230 New Crowdin translations by Github Action
  i18n/ko/code.json
  i18n/zh-Hant/code.json
Labels: i18n 🌐

#231 New Crowdin translations by Github Action
  i18n/de/code.json
  i18n/es/code.json
  i18n/fr/code.json
  i18n/ja/code.json
  i18n/ko/code.json
  i18n/pl/code.json
  i18n/ru/code.json
  i18n/tr/code.json
  i18n/zh-Hans/code.json
  i18n/zh-Hant/code.json
Labels: i18n 🌐

#233 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/de/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/de/docusaurus-plugin-content-docs/intro.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/es/docusaurus-plugin-content-docs/intro.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/fr/docusaurus-plugin-content-docs/intro.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/intro.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ko/docusaurus-plugin-content-docs/intro.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/lt/docusaurus-plugin-content-docs/intro.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/pl/docusaurus-plugin-content-docs/intro.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ru/docusaurus-plugin-content-docs/intro.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/tr/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/intro.md
Labels: i18n 🌐

#239 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
Labels: i18n 🌐

#241 New Crowdin translations by Github Action
  i18n/de/code.json
  i18n/es/code.json
  i18n/fr/code.json
  i18n/ja/code.json
  i18n/ko/code.json
  i18n/pl/code.json
  i18n/ru/code.json
  i18n/tr/code.json
  i18n/zh-Hans/code.json
  i18n/zh-Hant/code.json
Labels: i18n 🌐

#246 New Crowdin translations by Github Action
  i18n/de/code.json
  i18n/de/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/de/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/es/code.json
  i18n/es/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/fr/code.json
  i18n/fr/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/lt/code.json
  i18n/lt/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/pl/code.json
  i18n/pl/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/ru/code.json
  i18n/ru/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/tr/code.json
  i18n/tr/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/zh-Hans/code.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/03_migration.md
  i18n/zh-Hant/code.json
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/03_migration.md
Labels: i18n 🌐

#248 Funtions/test
  .github/README.md
  .github/workflows/ci-perf.yml
  .vscode/launch.json
  functions/_middleware.ts
  functions/index.js
  package.json
  pnpm-lock.yaml
  src/workers/cf-request.js
  src/workers/esbuild/package.json
  src/workers/esbuild/pnpm-lock.yaml
  src/workers/esbuild/src/index.js
  src/workers/esbuild/src/request.js
  src/workers/esbuild/wrangler.toml
  src/workers/kv.ts
  src/workers/service.js
  wrangler.toml
Labels: dependencies 📦, enhancement ✨, maintenance 📈, ci 🤖

#251 Funtioncs
  functions/[id].js
  functions/chain.js
  functions/test.js
  package.json
  src/workers/kvdocs.ts
  wrangler.toml
Labels: dependencies 📦, enhancement ✨

#253 Intro
  docs/intro.md
  functions/[id].js
  functions/chain.js
  functions/test.js
  package.json
  src/workers/kvdocs.ts
  wrangler.toml
Labels: dependencies 📦, enhancement ✨

#264 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
Labels: i18n 🌐

#266 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/es/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/fr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/lt/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/pl/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/getting_started/02_overview.md
Labels: i18n 🌐

#277 New Crowdin translations by Github Action
  i18n/de/docusaurus-plugin-content-docs/intro.md
  i18n/es/docusaurus-plugin-content-docs/intro.md
  i18n/fr/docusaurus-plugin-content-docs/intro.md
  i18n/ja/docusaurus-plugin-content-docs/intro.md
  i18n/ko/docusaurus-plugin-content-docs/intro.md
  i18n/lt/docusaurus-plugin-content-docs/intro.md
  i18n/pl/docusaurus-plugin-content-docs/intro.md
  i18n/ru/docusaurus-plugin-content-docs/intro.md
  i18n/tr/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/intro.md
Labels: i18n 🌐

#280 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/02_overview.md
Labels: i18n 🌐

#286 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-docs/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/zi_code.md
Labels: i18n 🌐

#307 New Crowdin translations by Github Action
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/tr/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/tr/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/zi_code.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐

#312 Syntax fix
  docs/guides/06_benchmark.md
Labels: fix ⚡

#314 New Crowdin translations by Github Action
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#315 New Crowdin translations by Github Action
  i18n/zh-Hans/code.json
  i18n/zh-Hans/docusaurus-plugin-content-blog/options.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-theme-classic/footer.json
  i18n/zh-Hans/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#317 New Crowdin translations by Github Action
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/tr/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#319 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#324 New Crowdin translations by Github Action
  i18n/es/docusaurus-plugin-content-docs/current/intro.md
  i18n/ja/docusaurus-plugin-content-docs/current/intro.md
  i18n/ko/docusaurus-plugin-content-docs/current/intro.md
  i18n/ru/docusaurus-plugin-content-docs/current/intro.md
  i18n/tr/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/intro.md
Labels: i18n 🌐

#326 New Crowdin translations by Github Action
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/intro.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/zi_code.md
Labels: i18n 🌐

#327 New Crowdin translations by Github Action
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
Labels: i18n 🌐

#328 Update README.md
  .github/README.md
Labels: maintenance 📈

#333 New Crowdin translations by Github Action
  i18n/es/code.json
  i18n/es/docusaurus-plugin-content-blog/options.json
  i18n/es/docusaurus-plugin-content-docs/current.json
  i18n/es/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/es/docusaurus-theme-classic/navbar.json
  i18n/ja/code.json
  i18n/ja/docusaurus-plugin-content-blog/options.json
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ja/docusaurus-theme-classic/navbar.json
  i18n/ko/code.json
  i18n/ko/docusaurus-plugin-content-blog/options.json
  i18n/ko/docusaurus-plugin-content-docs/current.json
  i18n/ko/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ko/docusaurus-theme-classic/navbar.json
  i18n/ru/code.json
  i18n/ru/docusaurus-plugin-content-blog/options.json
  i18n/ru/docusaurus-plugin-content-docs/current.json
  i18n/ru/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/ru/docusaurus-theme-classic/navbar.json
  i18n/tr/code.json
  i18n/tr/docusaurus-plugin-content-blog/options.json
  i18n/tr/docusaurus-plugin-content-docs/current.json
  i18n/tr/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/tr/docusaurus-theme-classic/navbar.json
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/zh-Hant/code.json
  i18n/zh-Hant/docusaurus-plugin-content-blog/options.json
  i18n/zh-Hant/docusaurus-plugin-content-docs/current.json
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/01_installation.md
  i18n/zh-Hant/docusaurus-plugin-content-docs/current/getting_started/_category_.json
  i18n/zh-Hant/docusaurus-theme-classic/navbar.json
Labels: i18n 🌐

#336 New Crowdin translations by Github Action
  i18n/ja/docusaurus-plugin-content-docs/current/getting_started/03_migration.md
  i18n/zh-Hans/docusaurus-plugin-content-docs-community/current/02_zsh_plugin_standard.md
  i18n/zh-Hans/docusaurus-plugin-content-docs/current/getting_started/02_overview.md
Labels: i18n 🌐
